{% extends 'base.html'%}

{% block content%}
<h1>All Restaurants Location</h1>

<body>
	{{error_message}}
	<table width="500">
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Hiring Manager</th>
		</tr>
		{% for loc in all_restaruant %}
		<tr>
			<td>{{loc.restaurant.name}}</td>
			<td>{{loc.loc.name}}</td>
			<td>{{loc.hiring_manager}}</td>
			<td><a href="{% url 'restaurantLocationDeleteWithId' loc.pk%}">Delete</a></td>
			<td><a href="{% url 'restaurantLocationUpdateWithId' loc.pk%}">Update</a></td>
		</tr>
		{% endfor %}
	</table>
</body>

{% endblock %}