{% extends 'base.html'%}

{% block content%}
<h1>All Lists</h1>

<body>
	<table width="700">
		<tr>
			<th>Id</th>
			<th>Job Name</th>
			<th>Name</th>
			<th>Resume</th>
			<th>Status</th>	
		</tr>
		<tr><b>All Application</b>
			{% for app in all_applications %}
			<tr>
				<td>{{app.applicationId}}</td>
				<td>{{app.job.name}}</td>
				<td>{{app.user.username}}</td>
				<td>{{app.resume}}</td>
				<td>{{app.approved}}</td>
			</tr>
			{% endfor %}
		</tr>
	</table>
	<br>
	<table width="700">
		<tr>
			<th>Username</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
		</tr>		
		<tr><b>Users</b>
			{% for user in all_users %}
			<tr>
				<td>{{user.username}}</td>
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>{{user.email}}</td>
			</tr>
			{% endfor %}
		</tr>
	</table>
	<br>
	<table width="700">
		<tr>
			<th>Job Id</th>
			<th>Name</th>
			<th>Location Name</th>
			<th>Restaurant Name</th>
			<th>Hiring Manager</th>
		</tr>	
		<tr><b>JobPostings</b>
			{% for job in all_jobPostings %}
			<tr>
				<td>{{job.jobId}}</td>
				<td>{{job.name}}</td>
				<td>{{job.restaurant_location.loc.name}}</td>
				<td>{{job.restaurant_location.restaurant.name}}</td>
				<td>{{job.restaurant_location.hiring_manager}}</td>
			</tr>
		{% endfor %}
		</tr>
	</table>
	<br>
	<table width="700">
		<tr>
			<th>Restaurant Id</th>
			<th>Name</th>
			<th>Administrator</th>
		</tr>	
		<tr><b>Restaurants</b>
			{% for restaurant in all_restaruant %}
			<tr>
				<td>{{restaurant.restaurantId}}</td>
				<td>{{restaurant.name}}</td>
				<td>{{restaurant.administrator}}</td>
			</tr>
			{% endfor %}
		</tr>
	</table>
	<br>
	<table width="700">
		<tr>
			<th>Name</th>
			<th>Restaurant Name</th>
			<th>Hiring Manager</th>
		</tr>	
		<tr><b>Restaurant Locations</b>
			{% for loc in all_restaruant_location %}
			<tr>
				<td>{{loc.loc.name}}</td>
				<td>{{loc.restaurant.name}}</td>
				<td>{{loc.hiring_manager}}</td>
			</tr>
			{% endfor %}
		</tr>
	</table>
	<br>
	<table width="700">
		<tr>
			<th>Name</th>
			<th>Location Id</th>
		</tr>
		<tr><b>All Locations</b>
			{% for loc in all_locations %}
			<tr>
				<td>{{loc.name}}</td>
				<td>{{loc.locationId}}</td>
			</tr>
			{% endfor %}
		</tr>
	</table>
	<br>
</body>
{% endblock %}